<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png"></ion-img> 
    <ion-title>Listado Memoriales desde la API externa</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list padding>
    <!-- Recorremos el arreglo de registros utilizando item-->
    <ion-item *ngFor="let m of memoriales">
      <!-- Icono al inicio (start)-->
      <ion-icon name="star" slot="start"></ion-icon>
      <!-- Campos de item -->
      <ion-label>{{m.idProducto}} - {{m.nombreprod}}</ion-label>
      <ion-label>{{m.cantidad}}</ion-label>
      <ion-label>{{m.fCreacion}}</ion-label>
      
      <ion-button [routerLink]="['/ver-memorial',m.codigo]"><ion-icon name="eye-outline"></ion-icon></ion-button><br />
      
    </ion-item>
  </ion-list>

</ion-content>
