<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png"></ion-img> 
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <p>Nombres : </p>
        <p>{{usuario.first_name}}</p>
      </ion-item>
      <ion-item>
        <p>Apellidos : </p>
        <p>{{usuario.last_name}}</p>
      </ion-item>
      <ion-item>
        <p>Email : </p>
        <p>{{usuario.email}}</p>
      </ion-item>      
      <ion-item>
        <p>Contraseña : </p>
        <p>{{usuario.clave}}</p>
      </ion-item>  
      <div class="ion-text-center">
        <ion-button [routerLink]="['/lista-usuarios']">Actualizar Usuario</ion-button>    
      </div>       
      
    </ion-card-content>
    
  </ion-card>

</ion-content>