<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png"></ion-img> 
    <ion-title>Actualizar Memorial desde la API externa</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="memorialForm"  (ngSubmit)="onFormSubmit(memorialForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre Memorial</ion-label>
      <ion-input type="text" [(ngModel)]="memorial.nombreprod" formControlName="memorial_nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="text" [(ngModel)]="memorial.cantidad" formControlName="memorial_cantidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="text" [(ngModel)]="memorial.precio" formControlName="memorial_precio"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!memorialForm.valid">Actualizar Memorial</ion-button>
  </form>
</ion-content>