<ion-header>
  <ion-toolbar>
    <div class="background-image"></div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png" style="display: block; margin: 0 auto;"></ion-img>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="background-image"></div>  
<ion-card style="padding: 10px;">

  <ion-list padding>
    <!-- Recorremos el arreglo de registros utilizando item-->
    <ion-item>
      <ion-label style="font-weight: bold;">Nombres</ion-label>
      <ion-label style="font-weight: bold;">Apellidos</ion-label>    
      <ion-label style="font-weight: bold;">Acciones</ion-label>          
    </ion-item>
    <ion-item *ngFor="let u of usuarios">
      <ion-label>{{u.first_name}}</ion-label>
      <ion-label>{{u.last_name}}</ion-label>  
      <ion-label>
      <ion-button [routerLink]="['/ver-usuarios',u.id]"><ion-icon name="eye-outline"></ion-icon></ion-button>
      <ion-button [routerLink]="['/actualizar-usuario/',u.id]"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-button type="button" (click)="borraUsuario(u.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
    </ion-label>
    </ion-item>
  </ion-list>

</ion-card>  
</ion-content>