<ion-header>
  <ion-toolbar>
    <div class="background-image"></div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png" style="display: block; margin: 0 auto; width: 200px;"></ion-img>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="background-image"></div>  
<ion-card style="padding: 10px;">

  <ion-col size="1" *ngFor="let photo of photoService.photos; let position = index">
    <ion-card>
    <ion-card-content>        
    <ion-img [src]="photo.webviewPath"></ion-img>
    </ion-card-content>
    </ion-card>        
    
  </ion-col>

<ion-fab vertical="center" horizontal="center" slot="fixed">
<ion-fab-button (click)="takePicture()">
  <ion-icon name="camera"></ion-icon>a
</ion-fab-button>
</ion-fab>

</ion-card>  
</ion-content>