<ion-header>
  <ion-toolbar>
    <div class="background-image"></div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png" style="display: block; margin: 0 auto;"></ion-img>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="background-image"></div>  
<ion-card style="padding: 10px;">

  <ion-card>
    <ion-card-content>
      <h1>Coordenadas GPS</h1>
      <p>{{ coordinates }}</p>
    </ion-card-content>
  </ion-card>
</ion-card>  
</ion-content>