<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/logo.png"></ion-img> 
    <ion-title>Crear Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
  <!--<form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.first_name" formControlName="u_first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">apellido</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.last_name" formControlName="u_last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email" formControlName="u_email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.clave" formControlName="u_clave"></ion-input>
    </ion-item>

    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!userForm.valid">Añadir Usuario</ion-button>
  </form>-->

  <form>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="number" ></ion-input>
    </ion-item>

    <ion-button type="button" shape="round" color="primary" expand="block">Añadir Usuario</ion-button>
  </form>

</ion-content>

