<ion-content class="ion-padding" fullscreen>
  <div class="background-image"></div>
  <ion-img class="fade-in" src="../../assets/logo.png" style="display: block; margin: 0 auto;"></ion-img>

<br>
<ion-button color="success" shape="round" size="default" expand="block" class="fade-in2" [routerLink]="['/login']">
  <ion-icon slot="start" name="at"></ion-icon>
Ingresa
</ion-button>

<br>
<ion-button color="warning" shape="round" size="default" expand="full" class="fade-in3" [routerLink]="['/registro']">
<ion-icon slot="start" name="add-circle-outline"></ion-icon>
Registrate  
</ion-button>
<p style="padding-top: 100px; text-align: center; font-weight: bold;" class="fade-in3">Desarrollado por<br>Rodrigo González y Bladimir Piña</p>
</ion-content>
